@model sodo_edubill_co_kr.ViewModels.SettingViewModel

@{

}
<script type="text/javascript" src="~/Scripts/Library/top_menu.js"></script>
<article data-role="page" class="login-page">
    @*Header*@
    <div id="myinfo_top_wrap">
        <div >
            <div id="main_wrap">
            <div class="top_wrap">
                <div class="top_bg">
                    <div class="menu_btn"><img src="~/Content/Theme/images/icons-png/top_btn.png"></div>
                    <div class="top_paging">내정보</div>
                    <div class="top_logout"><a href="#" onclick="Logout()"><img src="~/Content/Theme/images/icons-png/login_btn.png"></a></div>
                    
                </div>
            </div>
        </div>
            <div class="my_info_img"><img src="~/Content/Theme/images/icons-png/my_info_bg.jpg"></div>
            <article class="ui-mini topViewer">
                <div class="view_wrap_1">
                    <div class="view_left_1">가맹점정보</div>
                    <div class="view_right_1">
                        <div> @ViewBag.SubName</div>
                        <div> @ViewBag.Name</div>
                    </div>
                </div>
                <div class="dommy_box"></div>
                <div clas="view_wrap_2">
                    <div class="view_left_2">가상계좌번호</div>
                    <div class="view_right_2">
                        <div>아래 가상계좌번호로 입금하시면 실 시간적으로 자동 입금처리</br>(주문가능) 됩니다.</div>
                        @foreach (var vAccount in Model.VirtualAccounts)
                        {
                        <div class="colorBlue view_num"><span>@vAccount</span></div>
                        }
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div id="myinfo_bottom_wrap">
        <div role="main" class="ui-content">
            <article>
                <div class="ui-field-contain">
                    <label for="textinput-passward" class="font-size-13">비밀번호<br/>(숫자2자리)</label>
                    <input type="password"  id="iPassword" value="@Model.Password" maxlength="2" />
                </div>
                <div class="dommy_box"></div>
                <div class="ui-field-contain">
                    <label for="textinput-phoneNo" class="font-size-13">핸드폰번호<span class="colorRed"><br/>( "-" 제외 )</span></label>
                    <input type="text" id="iPhoneNo" value="@Model.PhoneNo" />
                </div>
                <div class="dommy_box"></div>
                <div class="ui-field-contain">
                    <label for="textinput-eMail" class="font-size-13">이메일</label>
                    <input type="text" id="iEmail" value="@Model.Email" />
                </div>
                <div class="dommy_box"></div>
                <div class="bottom_input"><input type="button" value="정보 수정" onclick="Update()"/></div>
            </article>
        </div>
    </div>
</article>
<div class="dummy_box"></div>
<div class="menu_wrap">
    <div class="menu_box">
        <div class="top_btn">
            <div><a href=""onclick="GoHome()"><img src="~/Content/Theme/images/icons-png/home_btn.png"></a></div>
            <div class="menu_out"><img src="~/Content/Theme/images/icons-png/x_btn.png"></div>
        </div>
        <div class="top_ban_btn">
            <div><a href="/M/Order">주문하기</a></div>
            <div><a href="/M/OrderList">주문내역</a></div>
            <div><a href="/M/InputList"">입금내역</a></div>
            <div><a href="/M/Setting">내정보</a></div>
            <div><a href="">공지사항</a></div>
        </div>
    </div>
</div>

@*Script*@
<script>
    var UpdateUrl = '@Url.Action("Update")';
</script>
<script src="~/Scripts/Library/Setting.js?Ver=@DateTime.Now.ToBinary()"></script>
<style>
.ui-mobile .ui-page{
	background-color:white;
}
</style>

