@model sodo_edubill_co_kr.ViewModels.OrderDetialViewModel
@{
    
}
<style>
.text_overflow{
width: 280px!important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;}
</style>
<script type="text/javascript" src="~/Scripts/Library/top_menu.js"></script>
<div class="opderlist_detail_wrap">
    <article data-role="page" class="orderdetail-page">
        <header data-role="header" data-position="fixed" data-tap-toggle="false">
            <div id="main_wrap">
                <div class="top_wrap">
                    <div class="top_bg">
                        <div class="menu_btn"><img src="~/Content/Theme/images/icons-png/top_btn.png"></div>
                        <div class="top_paging">주문내역</div>
                        <div class="top_logout"><a href="#" onclick="Logout()"><img src="~/Content/Theme/images/icons-png/login_btn.png"></a></div>
                    </div>
                </div>
            </div>
            <article id="OrderViewer" class="ui-mini">
                <input type="hidden" value='@Model.OrderId' id="OrderId" />
                <input type="hidden" value='@Model.AllowEdit.ToString()' id="AllowEdit" />
                <div>
                    <span class="ui-mini">체인점명 :</span>
                    <span class="ui-mini ui-value-text">@Model.CompanyName<strong class="ui-text-red ui-normal">(@Model.CompanyCode)</strong></span>
                </div>
                <div>
                    <span class="ui-mini">주문일시 :</span>
                    <span class="ui-mini ui-value-text">@Model.OrderDate</span>
                </div>
                <div>
                    <span class="ui-mini">주문금액 :</span>
                    <span class="ui-mini ui-value-text" id="OrderAmt">@Model.OrderAmt 원</span>

                    @*<span class="ui-mini ui-value-text">@Model.myflag</span>*@
                      <span class="ui-price-text data-myflag price_color_2" id="myflag"  data-value="@Model.myflag"/> 
                     <span class="ui-price-text data-myflag_select price_color_2" id="myflag_select"  data-value="@Model.myflag_select"/>    
                      <span class="ui-price-text data-vatflag price_color_2" id="vatflag"  data-value="@Model.vatflag"/> 
                </div>
            </article>
        </header>
        <div id="orderlist_detail_main_wrap">
            <div role="main" class="ui-content">
                <article id="DataContainer">
                    <input type="hidden" id="Yeosin" value="@ViewBag.Yeosin"/>
                    <input type="hidden" id="Misu" value="@ViewBag.Misu" />
                    <input type="hidden" id="Current" value="@ViewBag.Current" />   
                                
                </article>
                <article id="CartItems">
                    <ul data-role="listview" class="ui-mini">
                        @for (int i = 0; i < Model.CartItems.Count; i++)
                        {
                            var mCartItem = Model.CartItems[i];
                            <li>
                                <div class="text_overflow">
                                    <span class="ProductCode">@mCartItem.ProductCode</span>
                                    <span class="ProductName">@mCartItem.ProductName</span>
                                </div>
                                <div class="text_overflow">
                                    <span class="ProductPrice">@mCartItem.ProductPrice.ToString("N0")원</span>
                                    <span class="ProductUnit">@mCartItem.ProductUnit</span>
                                </div>
                                <div class="text_overflow">
                                    <span class="ProductAmt">[공급가]@mCartItem.Amt.ToString("N0")원</span>
                                    <span class="ProductTax">[세액]@mCartItem.Tax.ToString("N0")원</span>
                                </div>
                                <span class="ui-li-count cart-product-count" data-code="@mCartItem.ProductCode"
                                      data-price="@mCartItem.ProductPrice" data-hastax="@mCartItem.HasTax" data-cartid="@mCartItem.Id" data-count="0"><input type="number" placeholder="0" onchange="CalculateSum()" value="@mCartItem.Count" />

                                    

                                </span>
                            </li>
                        }
                    </ul>
                </article>
                    @if (@Model.d_requestday == "y")
              {
                        
                        
                        <div id="orderlist_detail_footer_wrap2">
                  <article id="request_day" class="ui-mini ui-shadow ui-alt-icon">
          
                    <div class="ui-field-contain">
                        <label for="textinput-passward" class="font-size-13"> 배달요청일자 :</label>
                              <input type="text" value='@Model.request_day' id="From" class="ui-input-date">
                
               
                    </div>
        
                 </article>
               </div>
                        
                        
           
              }
            </div>
        </div>
        <div id="orderlist_detail_footer_wrap">
            <footer data-role="footer" class="cart-footer" data-position="fixed" data-tap-toggle="false">
                <div class="ui-grid-b ui-mini">
                    <div class="ui-block-a">
                        <a class="ui-alt-icon ui-btn ui-btn-d ui-btn-icon-left ui-icon-back ui-background-gray" href="#" data-rel="back">이전</a>
                    </div>
                    <div class="ui-block-b">
                        <a class="ui-btn ui-btn-d ui-btn-icon-left ui-icon-delete ui-alt-icon ui-background-gray ui-btn ui-btn-d  ui-icon-delete  ui-background-gray input-edit" href="#" onclick="CancelOrder()">전체취소</a>
                    </div>
                    <div class="ui-block-c">
                        <a class="ui-btn ui-btn-b ui-btn-icon-left ui-icon-check ui-btn ui-btn-b  ui-icon-check input-edit" href="#" onclick="UpdateOrder()">수정</a>
                    </div>
                </div>
            </footer>
        </div>
    </article>
</div>
<div class="dummy_box"></div>
<div class="menu_wrap">
    <div class="menu_box">
        <div class="top_btn">
            <div><a href=""onclick="GoHome()"><img src="~/Content/Theme/images/icons-png/home_btn.png"></a></div>
            <div class="menu_out"><img src="~/Content/Theme/images/icons-png/x_btn.png"></div>
        </div>
        <div class="top_ban_btn">
            <div><a href="/M/Order">주문하기</a></div>
            <div><a href="/M/OrderList">주문내역</a></div>
            <div><a href="/M/InputList"">입금내역</a></div>
            <div><a href="/M/Setting">내정보</a></div>
            <div><a href="">공지사항</a></div>
        </div>
    </div>
</div>
@*Script*@
<script>
    var OrderListUrl = '@Url.Action("Index")';
    var CancelUrl = '@Url.Action("Cancel")';
    var UpdatetUrl = '@Url.Action("Update")';
</script>
<script src="~/Scripts/Library/OrderDetail.js?Ver=@DateTime.Now.ToBinary()"></script>




